{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" href="../static/css/galery.css" />
  <div class="lol">
    <div class="contenedor">
      <div class="champion">
        <img src="../static/img/campiones/aatrox/aatrox.jpg" alt="AATROX" />
        <div class="overlay">
          <h2 class="name-galery">AATROX</h2>
        </div>
      </div>

      <div class="champion">
        <img src="../static/img/campiones/anhri/anhri.jpg" alt="AHRI" />
        <div class="overlay">
          <h2 class="name-galery">AHRI</h2>
        </div>
      </div>

      <div class="champion">
        <img
          src="../static/img/campiones/blitzcrank/BLITZCRANK.jpg"
          alt="BLITZCRANK"
        />
        <div class="overlay">
          <h2 class="name-galery">BLITZCRANK</h2>
        </div>
      </div>

      <div class="champion">
        <img src="../static/img/campiones/brand/BRAND.jpg" alt="BRAND" />
        <div class="overlay">
          <h2 class="name-galery">BRAND</h2>
        </div>
      </div>

      <div class="champion">
        <img
          src="../static/img/campiones/cassiopeia/CASSIOPEIA.jpg"
          alt="CASSIOPEIA"
        />
        <div class="overlay">
          <h2 class="name-galery">CASSIOPEIA</h2>
        </div>
      </div>

      <div class="champion">
        <img src="../static/img/campiones/corki/CORKI.jpg" alt="CORKI" />
        <div class="overlay">
          <h2 class="name-galery">CORKI</h2>
        </div>
      </div>

      <div class="champion">
        <img src="../static/img/campiones/darius/DARIUS.jpg" alt="DARIUS" />
        <div class="overlay">
          <h2 class="name-galery">DARIUS</h2>
        </div>
      </div>

      <div class="champion">
        <img src="../static/img/campiones/diana/DIANA.jpg" alt="DIANA" />
        <div class="overlay">
          <h2 class="name-galery">DIANA</h2>
        </div>
      </div>

      <div class="champion">
        <img src="../static/img/campiones/elise/ELISE.jpg" alt="ELISE" />
        <div class="overlay">
          <h2 class="name-galery">ELISE</h2>
        </div>
      </div>

      <div class="champion">
        <img src="../static/img/campiones/evelynn/EVELYNN.jpg" alt="EVELYNN" />
        <div class="overlay">
          <h2 class="name-galery">EVELYNN</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
