{% extends "layout.html" %} {% block content %}

<h1>Home</h1>

<link rel="stylesheet" href="../static/css/carousel.css" />
<div id="carouselheroes" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner carrusel">
    <div class="carousel-item active">
      <table>
        <tr>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/aatrox/aatrox.jpg"
            />
          </td>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/anhri/anhri.jpg"
            />
          </td>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/blitzcrank/BLITZCRANK.jpg"
            />
          </td>
        </tr>
      </table>
    </div>

    <div class="carousel-item">
      <table>
        <tr>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/brand/BRAND.jpg"
            />
          </td>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/cassiopeia/CASSIOPEIA.jpg"
            />
          </td>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/corki/CORKI.jpg"
            />
          </td>
        </tr>
      </table>
    </div>

    <div class="carousel-item">
      <table>
        <tr>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/darius/DARIUS.jpg"
            />
          </td>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/diana/DIANA.jpg"
            />
          </td>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/elise/ELISE.jpg"
            />
          </td>
        </tr>
      </table>
    </div>

    <div class="carousel-item">
      <table>
        <tr>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/evelynn/EVELYNN.jpg"
            />
          </td>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/janna/JANNA.jpg"
            />
          </td>
          <td>
            <img
              class="d-block w-100"
              src="../static/img/campiones/kayn/KAYN.jpg"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>

  <a
    class="carousel-control-prev"
    href="#carouselheroes"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a
    class="carousel-control-next"
    href="#carouselheroes"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}